@tailwind base;
@tailwind components;
@tailwind utilities;


p,
h1,
h2,
h3,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Apply to the entire page */
::-webkit-scrollbar {
  width: 2px;            /* width of vertical scrollbar */
  height: 2px;           /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;   /* track color */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: f1f1f1;   /* thumb color (purple example) */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;   /* darker on hover */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}